<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConectaBdapartados1" connectionString=" Data Source=.;Initial Catalog=postrans;User ID=sa;Password=Cta2013Int" providerName="System.Data.SqlClient"/>
    <add name="ConectaBdapartados" connectionString=" Data Source=10.0.15.80;Initial Catalog=postrans;User ID=dsr;Password=JNPd$r2021" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="RutaImagenes" value="C:\Users\The cat forever\Desktop\GCC\ImagenesPublicitariasApartados"/>
    <add key="Setting2" value="May 6, 2014"/>
  </appSettings>
</configuration>